@model LibraryManagementSystem.Entites.Models.Book
@*@model LibraryManagementSystem.Areas.ManagementPanel.Data.BookViewModel*@

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/ManagementPanel/Views/Shared/_Layout.cshtml";
}

<h1>Kitap Ekle</h1>

@using (Html.BeginForm("Create", "Books", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new {@class="text-danger"})

        <label class="control-label col-md-2">Resim</label>
        @*İmage*@
        <div class="form-group">
            @*  @Html.LabelFor(model => model.İmageUrl, htmlAttributes: new {@class = "control-label col-md-2"})*@

            <div class="col-md-10">
                <input type="file" accept="image/*" name="img" id="img" />
            </div>
        </div>

        @Html.DropDownList("CategoryId", (SelectList)ViewData["CategoryId"], "--Kategori Seç--")

        <br />

        <label class="control-label col-md-2">Adı</label>
        <div class="form-group">
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new {htmlAttibutes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.Name, "", new {@Classs = "text-danger"})
            </div>
        </div>

        <label class="control-label col-md-2">Seri Numarası</label>
        <div class="form-group">
            <div class="col-md-10">
                @Html.EditorFor(model => model.Isbn, new {htmlAttibutes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.Isbn, "", new {@Classs = "text-danger"})
            </div>
        </div>

        <label class="control-label col-md-2">Sayfa Sayısı</label>
        <div class="form-group">
            <div class="col-md-10">
                @Html.EditorFor(model => model.NumberPage, new {htmlAttibutes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.NumberPage, "", new {@Classs = "text-danger"})
            </div>
        </div>
 
        <label class="control-label col-md-2">Yayın Tarihi</label>
        <div class="form-group">
            <div class="col-md-10">
                @Html.EditorFor(model => model.PublishDate, new {htmlAttibutes = new {@class = "form-control", @type="datetime"}})
                @Html.ValidationMessageFor(model => model.PublishDate, "", new {@Classs = "text-danger"})
            </div>
        </div>

        <label class="control-label col-md-2">Stok</label>
        <div class="form-group">
            <div class="col-md-10">
                @Html.EditorFor(model => model.BookDetail.Stock, new {htmlAttibutes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.BookDetail.Stock, "", new {@Classs = "text-danger"})
            </div>
        </div>

        <label class="control-label col-md-2">Açıklama</label>
        <div class="form-group">
            <div class="col-md-10">
                @Html.EditorFor(model => model.BookDetail.Description, new {htmlAttibutes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.BookDetail.Description, "", new {@Classs = "text-danger"})
            </div>
        </div>

        <br />
        <input type="submit" value="Kaydet" class="btn btn-primary" />
        <br />
    </div>
}

